@import "../wwwroot/scss/abstracts/_variables.scss";

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-modal {
    width: 550px;
    max-width: 90vw;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 0; /* Remove padding, we will add it to specific sections */
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        //background-color: $grey-light;
        //border-bottom: 1px solid $grey;
        position: sticky;
        top: 0;
        z-index: 10;
        color: $black;

        h2 {
            font-size: $text-xl;
        }

        .cart-modal__close-btn {
            background: none;
            border: none;
            font-size: $text-md;
            cursor: pointer;
        }
    }

    .cart-items {
        flex-grow: 1;
        padding: 0 2rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $grey-light;
        }

        &::-webkit-scrollbar-thumb {
            background: $grey;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $grey-dark;
        }
    }

    &__footer {
        padding: 20px;
        position: sticky;
        bottom: 0;
        z-index: 10;

        .cart-modal__placeorder-btn {
            width: 100%;
            padding: 1.5rem;
            background-color: $red;
            color: $white;
            font-size: $text-md;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &__image {
            width: 80px;
            height: 80px;
            border-radius: 10px;
        }

        &__details {
            flex-grow: 1;
            margin-left: 15px;

            h4 {
                margin: 0;
                font-size: 1.2rem;
            }

            .quantity {
                display: flex;
                align-items: center;

                button {
                    background: none;
                    border: 1px solid #ddd;
                    font-size: 1.2rem;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                span {
                    margin: 0 10px;
                }
            }

            .remove-btn {
                background: none;
                color: red;
                border: none;
                cursor: pointer;
                font-size: 0.9rem;
            }
        }

        .cart-item__price {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
