.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
  width: 550px;
  max-width: 90vw;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 0; /* Remove padding, we will add it to specific sections */
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}
.cart-modal__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  color: #242424;
}
.cart-modal__header h2 {
  font-size: 2rem;
}
.cart-modal__header .cart-modal__close-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
}
.cart-modal .cart-items {
  flex-grow: 1;
  padding: 0 2rem;
  overflow-y: auto;
  color: #242424;
}
.cart-modal .cart-items-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
.cart-modal .cart-items-empty h2 {
  font-size: 2rem;
}
.cart-modal .cart-items-empty img {
  width: 200px;
}
.cart-modal .cart-items-empty p {
  font-size: 1.6rem;
}
.cart-modal .cart-items::-webkit-scrollbar {
  width: 10px;
}
.cart-modal .cart-items::-webkit-scrollbar-track {
  background: #F7F7F7;
}
.cart-modal .cart-items::-webkit-scrollbar-thumb {
  background: #9F9F9F;
}
.cart-modal .cart-items::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
.cart-modal__footer {
  padding: 20px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
.cart-modal__footer .cart-modal__placeorder-btn {
  width: 100%;
  padding: 1.5rem;
  background-color: #E10019;
  color: #FFFFFF;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cart-modal .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 15px;
}
.cart-modal .cart-item__image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #E10019;
}
.cart-modal .cart-item__details {
  flex-grow: 1;
  margin-left: 15px;
}
.cart-modal .cart-item__details-header {
  display: flex;
  justify-content: space-between;
}
.cart-modal .cart-item__details-header h4 {
  margin: 0;
  font-size: 1.6rem;
}
.cart-modal .cart-item__details p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #242424;
}
.cart-modal .cart-item__details-button {
  display: flex;
  gap: 1rem;
}
.cart-modal .cart-item__details-button button {
  background: none;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #808080;
}
.cart-modal .cart-item__details-button .remove-btn {
  margin-left: 2rem;
  background: none;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.cart-modal .cart-item .cart-item__price {
  font-size: 1.2rem;
  font-weight: bold;
}
