@import "../wwwroot/scss/abstracts/_variables.scss";

.menu-page {
    display: flex;
    max-height: 100vh;
    overflow: hidden;

    .menu-content {
        flex: 3;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        position: relative;
        // Add vertical scroll for longer content
        overflow-y: auto;

        .greeting {
            h1 {
                color: $black;
                font-size: $text-2xl;
                font-weight: bold;
            }

            p {
                color: $black;
                font-size: $text-md;
            }

            .table-number {
                font-weight: bold;
                color: $red;
            }
        }

        .search-bar {
            margin: 2rem 0;

            input {
                width: 100%;
                padding: 1.5rem;
                font-size: $text-md;
                border: 1px solid transparent;
                border-radius: 10px;
                outline: none;
                background-color: $grey-light;
                color: $grey-dark;

                &:focus {
                    border: 1px solid $grey;
                }
            }
        }
        // Categories (Horizontally Scrollable)
        .categories {
            display: flex;
            flex-direction: column;

            h3 {
                color: $black;
                font-size: $text-xl;
                margin-bottom: 1rem;
            }

            .categories-available {
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                margin-bottom: 1.5rem;
                gap: 10px;
                max-width: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }

                .category-btn {
                    flex-shrink: 0;
                    font-size: $text-sm;
                    padding: .5rem 1rem;
                    border: 2px solid $grey;
                    background-color: $grey-light;
                    border-radius: 10px;
                    cursor: pointer;
                    color: $black;
                    transition: background-color 0.3s ease;

                    &.active {
                        background-color: $red-light;
                        color: $red;
                        border: 2px solid $red;
                    }

                    &:hover {
                        background-color: $red;
                        color: $white;
                        border-color: transparent;
                    }
                }
            }
        }
        // Menu Items - Using CSS Grid for card layout
        .menu-items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); // Adjusts to fit more cards on larger screens
            grid-gap: 1.5rem; // Add space between cards
            flex-grow: 1;
            overflow-y: auto; // Enable scrolling if necessary
            min-height: 100px; // Maintain space even with fewer items

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: $grey-light;
            }

            &::-webkit-scrollbar-thumb {
                background: $grey;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $grey-dark;
            }

            .menu-item {
                background-color: $white;
                padding: 1.5rem;
                border-radius: 10px;
                //border: 1px solid $grey-light;
                display: flex;
                align-items: start;
                //height: 320px; // Fix height for consistency across rows

                img {
                    width: 140px;
                    height: 140px;
                    object-fit: cover;
                    border-radius: 10px;
                    border: 1px solid $red;
                }

                .menu-details {
                    flex-grow: 1;
                    padding-left: 1rem;

                    h3 {
                        margin: 0;
                        font-size: $text-md;
                        font-weight: bold;
                        color: $black;
                    }

                    p {
                        margin: 0.5rem 0;
                        font-size: $text-xs;
                        color: $grey-dark;
                    }

                    .price {
                        font-weight: bold;
                        color: $red;
                        font-size: $text-md;
                    }

                    .add-to-cart-btn {
                        padding: .5rem 1rem;
                        font-size: $text-xs;
                        background-color: $red;
                        color: $white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: $red-dark;
                        }
                    }
                }
            }
        }
        // Cart Summary - Stick to the bottom
        .cart-summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            background-color: $red-light;
            border: 2px solid $red;
            border-radius: 10px;
            color: $red;
            margin-top: 1.5rem;

            .cart-summary-details {
                flex: 4;

                p {
                    margin: 0.5rem 0;
                    font-size: $text-sm;
                }

                h3 {
                    font-size: $text-xl;
                }

                a {
                    color: $red;
                }
            }

            .cart-summary__view-cart-btn{
                background:none;
                border: none;
                color: $red;
                text-decoration: underline;
                cursor: pointer;

            } 
            
            .place-order-btn {
                flex: 1;
                padding: 1.5rem 2rem;
                background-color: $red;
                color: $white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
                font-size: $text-md;

                &:hover {
                    background-color: $red-dark;
                }
            }
        }
    }

    .order-summary {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: $grey-light;
        padding: 4rem;
        flex: 1;
        width: 30%;

        .order-summary-content {
            flex-shrink: 0; // Prevent content from growing and pushing the button
            margin-bottom: 1rem;

            h3 {
                color: $black;
                font-size: $text-xl;
            }

            p {
                color: $black;
                font-size: $text-md;
            }
        }
        // Scrollable Orders List Container
        .orders-list-container {
            flex-grow: 1; // Make this container grow to take available space
            overflow-y: auto; // Enable vertical scrolling
            margin-bottom: 2rem; // Add spacing between the list and the button


            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: $grey-light;
            }

            &::-webkit-scrollbar-thumb {
                background: $grey;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $grey-dark;
            }
        }

        .orders-list {
            display: flex;
            flex-direction: column;
            gap: 10px; // Add gap between orders

            .order-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                .order-details {
                    flex-grow: 1;
                    padding-left: 1rem;

                    h4 {
                        margin: 0;
                    }

                    p {
                        margin: 0.5rem 0;
                        color: #666;
                    }

                    .order-price {
                        font-weight: bold;
                        color: $red;
                    }
                }
            }
        }
        // Fixed Make Payment Button
        .make-payment-btn {
            flex-shrink: 0; // Prevent the button from being pushed by the orders list
            padding: 1.5rem;
            background-color: $red;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: $text-md;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $red-dark;
            }
        }
    }
}

.error-message {
    position: absolute;
    font-size: $text-xs;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background: $red-light;
    border: 1px solid $red;
    border-radius: 5px;
}
