@import "../wwwroot/scss/abstracts/_variables.scss";

.menu-page {
    display: flex;
    max-height: 100vh;

    .menu-content {
        flex: 3; // Adjust as needed for space distribution
        //padding: 2rem;
        display: flex;
        flex-direction: column;
        //justify-content: space-between; // Ensure the cart summary stays at the bottom
        padding: 4rem;
        position: relative;

        .greeting {
            h1 {
                color: $black;
                font-size: $text-2xl;
                font-weight: bold;
            }

            p {
                color: $black;
                font-size: $text-md;
            }

            .table-number {
                font-weight: bold;
                color: $red; // Set the color to match the design
            }
        }

        .search-bar {
            margin: 2rem 0;

            input {
                width: 100%;
                padding: 1.5rem;
                font-size: $text-md;
                border: 1px solid transparent;
                border-radius: 10px;
                outline: none;
                background-color: $grey-light;
                color: $grey;

                &:focus {
                    border: 1px solid $grey;
                }
            }
        }

        .categories {
            display: flex;
            flex-direction: column;

            h3 {
                color: $black;
                font-size: $text-xl;
                margin-bottom: 1rem;
            }

            .categories-available {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 2rem;

                .category-btn {
                    font-size: $text-md;
                    padding: 1rem 2rem;
                    border: 2px solid #ddd;
                    background-color: #f9f9f9;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &.active {
                        background-color: $red-light;
                        color: $red;
                        border: 2px solid $red;
                    }

                    &:hover {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }

        .menu-items {
            flex-grow: 1; // Make menu items take remaining space
            overflow-y: auto; // Enable scrolling if the list gets long

            .menu-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                border-bottom: 1px solid #ddd;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                .menu-details {
                    flex-grow: 1;
                    padding-left: 1rem;

                    h4 {
                        margin: 0;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    p {
                        margin: 0.5rem 0;
                        font-size: 0.9rem;
                        color: #666;
                    }

                    .price {
                        font-weight: bold;
                        color: #e10019;
                    }

                    .add-to-cart-btn {
                        padding: 8px 12px;
                        background-color: #e10019;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #c00017;
                        }
                    }
                }
            }
        }

        .cart-summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 2rem;
            background-color: $red-light;
            border: 2px solid $red;
            border-radius: 10px;
            color: $red;

            .cart-summary-details {
                flex: 4;

                p {
                    margin: 0.5rem 0;
                    font-size: $text-xs;
                }

                h3 {
                    font-size: $text-xl;
                }

                a {
                    color: $red;
                }
            }

            .place-order-btn {
                flex: 1;
                padding: 1.5rem 2rem;
                background-color: $red;
                color: $white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
                font-size: $text-md;

                &:hover {
                    background-color: $red-dark;
                }
            }
        }
    }

    .order-summary {
        width: 30%; // Take up the remaining right side space
        background-color: $grey-light;
        height: 100vh;
        overflow-y: auto; // Enable scrolling for large orders
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .order-summary-content {
            h3 {
                color: $black;
                font-size: $text-xl;
            }

            p {
                color: $black;
                font-size: $text-md;
            }

            .orders-list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .order-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                    .order-details {
                        flex-grow: 1;
                        padding-left: 1rem;

                        h4 {
                            margin: 0;
                        }

                        p {
                            margin: 0.5rem 0;
                            color: #666;
                        }

                        .status {
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: #ddd;
                            font-size: 0.9rem;

                            &.pending {
                                background-color: #f39c12;
                                color: #fff;
                            }

                            &.preparation {
                                background-color: #3498db;
                                color: #fff;
                            }

                            &.pickup {
                                background-color: #2ecc71;
                                color: #fff;
                            }

                            &.served {
                                background-color: #e10019;
                                color: #fff;
                            }
                        }
                    }

                    .order-price {
                        font-weight: bold;
                        color: #e10019;
                    }
                }
            }
        }



        .make-payment-btn {
            margin-top: 20px;
            padding: 2rem 1rem;
            background-color: $red;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: $text-md;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $red-dark;
            }
        }
    }
}

.error-message {
    position: absolute;
    font-size: $text-xs;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background: $red-light;
    border: 1px solid $red;
    border-radius: 5px;
}


