@import "../wwwroot/scss/abstracts/_variables.scss";

.menu-page {
    display: flex;
    max-height: 100vh;
    overflow: hidden;

    .menu-content {
        flex: 3;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        position: relative;

        // Add vertical scroll for longer content
        overflow-y: auto;

        .greeting {
            h1 {
                color: $black;
                font-size: $text-2xl;
                font-weight: bold;
            }

            p {
                color: $black;
                font-size: $text-md;
            }

            .table-number {
                font-weight: bold;
                color: $red;
            }
        }

        .search-bar {
            margin: 2rem 0;

            input {
                width: 100%;
                padding: 1.5rem;
                font-size: $text-md;
                border: 1px solid transparent;
                border-radius: 10px;
                outline: none;
                background-color: $grey-light;
                color: $grey;

                &:focus {
                    border: 1px solid $grey;
                }
            }
        }

        // Categories (Horizontally Scrollable)
        .categories {
            display: flex;
            flex-direction: column;

            h3 {
                color: $black;
                font-size: $text-xl;
                margin-bottom: 1rem;
            }

            .categories-available {
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                margin-bottom: 1.5rem;
                gap: 10px;
                max-width: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }

                .category-btn {
                    flex-shrink: 0;
                    font-size: $text-sm;
                    padding: .5rem 1rem;
                    border: 2px solid $grey;
                    background-color: $grey-light;
                    border-radius: 10px;
                    cursor: pointer;
                    color: $black;
                    transition: background-color 0.3s ease;

                    &.active {
                        background-color: $red-light;
                        color: $red;
                        border: 2px solid $red;
                    }

                    &:hover {
                        background-color: $red;
                        color: $white;
                        border-color: transparent;
                    }
                }
            }
        }

        // Menu Items - Using CSS Grid for card layout
        .menu-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr); // Ensure two items per row
            grid-gap: 1rem; // Add space between cards
            flex-grow: 1;
            overflow-y: auto; // Enable scrolling if necessary
            margin-bottom: 1rem;
            min-height: 300px; // Maintain space even with fewer items

            &::-webkit-scrollbar {
                width: 15px;
            }
            &::-webkit-scrollbar-track {
                background: $grey-light;
            }
            &::-webkit-scrollbar-thumb {
                background: $grey;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $grey-dark;
            }

            .menu-item {
                background-color: $white;
                padding: 2rem;
                border-radius: 10px;
                border: 1px solid $grey-light;
                display: flex;
                align-items: start;


                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 10px;
                    border: 1px solid $red;
                }

                .menu-details {
                    flex-grow: 1;
                    padding-left: 1rem;

                    h3 {
                        margin: 0;
                        font-size: $text-md;
                        font-weight: bold;
                        color: $black;
                    }

                    p {
                        margin: 0.5rem 0;
                        font-size: $text-xs;
                        color: $grey-dark;

                    }

                    .price {
                        font-weight: bold;
                        color: $red;
                        font-size: $text-md;
                    }

                    .add-to-cart-btn {
                        padding: 1rem 1rem;
                        font-size: $text-xs;
                        background-color: $red;
                        color: $white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: $red-dark;
                        }
                    }
                }
            }
        }

        // Cart Summary - Stick to the bottom
        .cart-summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            background-color: $red-light;
            border: 2px solid $red;
            border-radius: 10px;
            color: $red;
            margin-top: auto; // Ensure it sticks to the bottom of the container

            .cart-summary-details {
                flex: 4;

                p {
                    margin: 0.5rem 0;
                    font-size: $text-sm;
                }

                h3 {
                    font-size: $text-xl;
                }

                a {
                    color: $red;
                }
            }

            .place-order-btn {
                flex: 1;
                padding: 1.5rem 2rem;
                background-color: $red;
                color: $white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
                font-size: $text-md;

                &:hover {
                    background-color: $red-dark;
                }
            }
        }
    }

    .order-summary {
        flex: 1;
        width: 30%;
        background-color: $grey-light;
        height: 100vh;
        overflow-y: auto;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .order-summary-content {
            h3 {
                color: $black;
                font-size: $text-xl;
            }

            p {
                color: $black;
                font-size: $text-md;
            }

            .orders-list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .order-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                    .order-details {
                        flex-grow: 1;
                        padding-left: 1rem;

                        h4 {
                            margin: 0;
                        }

                        p {
                            margin: 0.5rem 0;
                            color: #666;
                        }

                        .status {
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: #ddd;
                            font-size: 0.9rem;

                            &.pending {
                                background-color: #f39c12;
                                color: #fff;
                            }

                            &.preparation {
                                background-color: #3498db;
                                color: #fff;
                            }

                            &.pickup {
                                background-color: #2ecc71;
                                color: #fff;
                            }

                            &.served {
                                background-color: #e10019;
                                color: #fff;
                            }
                        }
                    }

                    .order-price {
                        font-weight: bold;
                        color: #e10019;
                    }
                }
            }
        }

        .make-payment-btn {
            margin-top: 20px;
            padding: 2rem 1rem;
            background-color: $red;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: $text-md;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $red-dark;
            }
        }
    }
}

.error-message {
    position: absolute;
    font-size: $text-xs;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background: $red-light;
    border: 1px solid $red;
    border-radius: 5px;
}
