.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90px;
  background-color: #F2F2F2;
  transition: width 0.3s ease;
  z-index: 1000;
  padding: 2rem;
}
.sidebar.expanded {
  width: 250px;
}
.sidebar__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.sidebar__toggle img {
  width: 30px;
  height: 30px;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-top: 5rem;
}
.sidebar__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar__nav ul li {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__nav ul li:hover {
  background-color: white;
}
.sidebar__nav ul li .sidebar__item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  width: 100%;
}
.sidebar__nav ul li .sidebar__item:hover {
  background-color: white;
}
.sidebar__nav ul li .sidebar__item--active .sidebar__icon {
  fill: #e10019;
}
.sidebar__nav ul li .sidebar__item .sidebar__icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
}
.sidebar__nav ul li .sidebar__item .sidebar__icon--active {
  fill: #e10019;
}
.sidebar__nav ul li .sidebar__item .sidebar__text {
  margin-left: 3rem;
  font-size: 14px;
  color: #242424;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}
.sidebar.expanded .sidebar__nav ul li {
  justify-content: flex-start;
}
.sidebar.expanded .sidebar__nav ul li .sidebar__item {
  justify-content: flex-start;
}
.sidebar.expanded .sidebar__nav ul li .sidebar__text {
  display: inline-block;
  opacity: 1;
}
.sidebar__nav ul li .sidebar__item--active .sidebar__icon {
  fill: #e10019;
}
