@import '../abstracts/_variables.scss';
@import '../components/_button.scss';

nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem 0 10rem;
    align-items: center;
    background: $background;

    .nav_navigation {

        .nav_navigation_items {
            display: flex;
            gap: 5rem;
            list-style-type: none;
            font-size: $text-md;

            .nav_navigation_items-active {
                color: red;
            }
        }
    }

    .nav_cta {
        display:flex;
        gap: 2rem;

        .nav_cta-primary {
            @include button-primary($red, $white);
        }

        .nav_cta-secondary {
            @include button-secondary($red, $black);
        }
    }
}
