.sidebar {
    width: 80px;
    transition: width 0.3s ease;

    &.expanded {
        width: 250px;
    }

    .nav-icons {
        display: flex;
        flex-direction: column;

        .nav-item {
            margin: 10px 0;
            cursor: pointer;

            &.active {
                background-color: red;
            }
        }
    }
}
