$background: #FFFFFF;
$red: #E10019;
$white: #FFFFFF;
$black: #242424;
$brown: #7A502D;
$brown-light: #F6DBA2;
$red-light: #FFE1E4;
$red-dark: #c00017;
$grey: #9F9F9F;
$grey-light: #F7F7F7;
$grey-dark: #808080;
//Fonts
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 3rem;
$text-3xl: 4rem;
$text-4xl: 5rem;
