@inherits LayoutComponentBase

<div class="auth-layout">
    <!-- Left Static Content -->
    <div class="auth-layout__left">
        <h1 class="auth-layout__heading">Welcome to<br />Dine Master</h1>
        <p class="auth-layout__description">Seamlessly Order, Enjoy, and<br />Manage Dining Experiences!</p>
    </div>

    <!-- Right Content that changes dynamically -->
    <div class="auth-layout__right">
        @Body
    </div>
</div>
