@using Microsoft.JSInterop
@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<div>
    <!-- Navbar -->
    <NavMenu />

    <!-- Main content -->
    <main>
        @Body
    </main>

    <!-- Footer -->
    @* <footer>
        <!-- Your existing footer code -->
        <Footer />
    </footer> *@
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var token = await AuthenticationService.GetAccessToken();
        if (token == null)
        {
            // No valid token; 
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Token is valid; proceed to main content
            NavigationManager.NavigateTo("/select-table");
        }
    }

}